<div class="L-header w pr blue">
    <div class="L-header w pr slide-header">
        <p class="tc L-header-title cfff f16">地址选择</p>
        <a href="#/editAddress" class="po L-header-cancelBtn pr10 cfff">取消</a>
    </div>
</div>
<div class="L-center">
    <div class="huipayMap w" ng-style="mapStyle">
        <div id="container"></div>
    </div>
    <div class="L-header-searchbox-01 pl30 po" >
        <input class="w h" ng-model="keywords" type="text" placeholder="输入您所在的地区"/>
    </div>
    <div class="mapCenter-marker pr" ng-style="mapCenterMarker"></div>
    <ul class="common-list-03 w"ng-style="searchAddressList">
        <li ng-repeat="location in locationInfoArr" ng-click="setNewLnglat(location)">
            <a href="#/editAddress">
                <span class="common-list-03-title pl15">{{location.name}}</span>
            </a>
        </li>
    </ul>
</div>