<div class="L-header w pr blue">
    <div class="L-header w pr slide-header">
        <a href="{{backPage}}" class="L-header-back h po"></a>
        <p class="tc L-header-title cfff f16">{{operateAddress.operate.title}}{{operateAddress.addressType.name}}</p>
        <a ng-href="{{backPage}}" class="po L-header-cancelBtn pr10 cfff" ng-click="saveAddress()">保存</a>
    </div>
</div>
<div class="L-center">
    <ul class="common-list-15" >
        <li class="clearfix pr">
            <p class="fl pl15">联系人：</p>
            <P class="po common-list-input-1">
                <input type="text" class="w h" ng-model="operateAddress.addressInfo.recieve_name"/>
            </P>
        </li>
        <li class="clearfix pr">
            <p class="fl pl15">联系方式：</p>
            <P class="po common-list-input-1">
                <input type="text" class="w h" ng-model="operateAddress.addressInfo.phone_num"/>
            </P>
        </li>
        <li class="clearfix pr" ng-click="saveAddressInfo()">
            <p class="fl pl15">所在区域：</p>
            <a href="#/deliverMap" class="po common-list-input-1">
                {{operateAddress.addressInfo.districtAddress}}
            </a>
        </li>
        <li class="clearfix pr">
            <p class="fl pl15">详细地址：</p>
            <div class="fl"></div>
            <P class="po common-list-input-1">
                <input type="text" class="w h" ng-model="operateAddress.addressInfo.address"/>
            </P>
        </li>
        <li class="common-list-15 pr">
            <p class="fl pl15">设为默认地址</p>
            <div class="po setDeforUn" ng-class="{true:'setDef',false:'setUndef'}[operateAddress.addressInfo.isDefault]" ng-click="setDefn()"></div>
        </li>
    </ul>
</div>

