<div class="L-header w pr blue">
    <a href="#/addressList" class="cfff po my-city pl15">{{addressInfo.city||'城市'}}</a>
    <div class="L-header-searchbox pr ml100 mr50 pl30" >
        <input class="w h" ng-model="keywords" type="text" placeholder="输入您所在的地区"/>
    </div>
    <a href="#/" class="po L-header-cancelBtn pr10 cfff">取消</a>
</div>
<div class="L-center">
    <ul class="common-list-22 clearfix addressselectbox">
        <li class="fl tc" ng-repeat="speAddress in speAddressArr" ng-click="selectAddress(speAddress.addressType)">
            <a ng-href="{{addedAddress}}">
                <span class="homeaddress">{{speAddress.name}}</span>
            </a>
        </li>
    </ul>
    <ul class="common-list-03" style="margin-top:-1px;">
        <li ng-repeat="location in locationInfoArr" ng-click="setNewLnglat(location)">
            <a href="#/">
                <span class="common-list-03-title pl15">{{location.name}}</span>
            </a>
        </li>
    </ul>
</div>
<huipay-main-footer></huipay-main-footer>