<div class="L-header w pr blue">
    <a class="L-header-back h po" href="javascript:history.go(-1);"></a>
    <p class="tc L-header-title cfff f16">确认订单</p>
</div>
<a href="javascript:void(0)" class="pr fff confirm-address mt10">
    <div>
        <p class="common-list-line-1 pr50 pl15 pt10">
            <span>{{canDeliverAddress.recieve_name}}</span>
            <span class="pl15">{{canDeliverAddress.phone_num}}</span>
        </p>
        <p class="common-list-line-2 pr50 pl15 pb10">
            <span>地址：{{canDeliverAddress.fullAddress}}</span>
        </p>
    </div>
</a>
<ul class="common-list-21 mt10">
    <li>
        <span class="ml15 fl">预约配送时间</span>
        <span class="input-box mr15 fr f14 selectTime">
            <select name="select-time" ng-model="initH" ng-options="hour.opt for hour in initHours">
            </select>
            <span>:</span>
            <select name="select-time" ng-model="initM" ng-options="min.opt for min in initMins">
            </select>
            <span class="ml15 mr15">-</span>
            <span>{{endH}}</span>
            <span>:</span>
            <span>{{initM.opt}}</span>
        </span>
    </li>
</ul>
<div style="padding-bottom: 50px;">
    <ul class="common-list-13 mt10" ng-repeat="shopInfo in orderInfo.confimOrderInfos">
        <li class="comlist-13-single pr pl15 confirmOrder-shop">
            <span class="pl30">{{shopInfo.shopName || "一家没有起名字的水站"}}</span>
        </li>
        <li ng-repeat="goodsInfo in shopInfo.orderItems" class="pr w">
            <div class="w h pr fff">
                <div class="common-picproduct-02 pr tc ">
                    <img src={{goodsInfo.image}} class="h" alt=""/>
                </div>
                <div class="po po common-detailbox-02">
                    <p class="f16 comlist-02-floor-01 gL-goodsList">
                        <span>{{goodsInfo.itemName}}</span>
                    </p>
                    <p class="comlist-02-floor-01 pt5 gL-goodsList">
                        <span>￥</span>
                        <span class="cred f16">{{(goodsInfo.itemPrice / 100).toFixed(2)}}</span>
                        <span>*{{goodsInfo.itemNum}}</span>
                    </p>
                </div>
            </div>
        </li>
        <li class="comlist-13-single pr pl15 confirmOrder-shop">
            <span>配送方式：</span>
            <span>水站快递</span>
            <span class="fr pr15">+0.00</span>
        </li>
        <li class="comlist-13-single pr pl15 confirmOrder-shop">
            <span>水漂抵用：</span>
            <span>海豹水票</span>
            <span class="fr pr15">0张</span>
        </li>
        <li class="comlist-13-single pr pl15 confirmOrder-shop">
            <span>代金券抵用：</span>
            <span class="fr pr15">{{(shopInfo.voucherAmount/ 100).toFixed(2)}}元</span>
        </li>
        <li class="comlist-13-single pr pl15 confirmOrder-shop">
            <span class="cred fr pr15">合计：￥{{(shopInfo.smallMoney / 100).toFixed(2)}}</span>
        </li>
    </ul>
</div>
<div class="confirmOrder-footer clearfix">
    <span class="cfff pl15 f14">实付款：￥</span>
    <span class="f16 cfff">{{(orderInfo.realFee / 100).toFixed(2)}}</span>
    <div class="f16 cfff fr pr15 pl15 red" ng-click="createOrder()">提交订单</div>
</div>
