<!DOCTYPE html>
<html lang="en" ng-app="buyWaterTicketes">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1"/>
    <meta name="Liudq" content="Administrator"/>
    <link rel="stylesheet" type="text/css" href="components/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="components/css/Lhuipayapp-common.css"/>
    <link rel="stylesheet" type="text/css" href="components/css/buyWaterTicketes.css"/>

    <script src="components/js/plugins/angular.js"></script>
    <script src="components/js/plugins/angular-cookies.min.js"></script>
    <script src="components/js/plugins/angular-resource.min.js"></script>
    <script src="components/js/plugins/md5.js"></script>

    <title>购买水票</title>

</head>
<body  ng-controller="WaterTicketesCtrl">
    <div class="L-header w pr blue">
        <p class="tc L-header-title cfff f16">购买水票</p>
        <div onclick="history.go(-1)" class="L-header-back h po"></div>
    </div>
    <div class="waterTicketes pl15 mt10 ml15 mr15">
        <p class="cfff f16 pt15">海豹送水</p>
        <p class="clearfix f20 cfff">
            <span style="color:#FCFBD6">{{ticketesInfo.productName}}</span>
            <span class="pl5" style="font-size: 26px;">{{(ticketesInfo.price/100).toFixed(2)}}</span>
            <span class="pl5">一桶</span>
        </p>
        <p class="cfff f16 pt5">有效期至{{ticketesInfo.validTime}}</p>
    </div>
    <ul class="clearfix ml15 mt10">
        <li ng-repeat="strategyModel in ticketesInfo.preferentialStrategyModels" ng-click="chooseWaterTicketes(strategyModel,ticketesInfo.preferentialStrategyModels)" ng-class="{'selectStrate':strategyModel.isSelect}" class="privilege-option fl tc mt10">
            满{{strategyModel.requireCount}}送{{strategyModel.giveCount}}
        </li>
    </ul>
    <div class="mt30 tc fb" style="font-size: 28px;">￥{{((totalMoney || 0) / 100).toFixed(2)}}元</div>
    <a ng-click="createOrder()" class="tc common-btn-01 f14 cfff blue" style="margin-top: 10px;">购买水票</a>
    <script src="components/js/service/huipayLogIn.js"></script>
    <script src="components/js/service/huipayOrder.js"></script>
    <script src="components/js/buyWaterTicketes/buyWaterTicketesCtrl.js"></script>
    <script src="components/js/buyWaterTicketes/wtservice.js"></script>
</body>
</html>