<div class="w h pr fff huipay-movedelete" ng-style="moveStyle">
    <div class="po" ng-click="goodsChecked(shopInfo,goodsInfo)" ng-class="{true:'goods-checked',false:'goods-unchecked'}[goodsInfo.isChecked]"></div>
    <div class="common-picproduct-13 pr tc">
        <img src={{goodsInfo.imageUrl}} class="h" alt=""/>
    </div>
    <div class="po common-detailbox-13">
        <p class="f16 comlist-02-floor-01 gL-goodsList">
            <span>{{goodsInfo.productName}}</span>
        </p>
        <p class="comlist-02-floor-01 pt5 gL-goodsList">
            <span>￥</span>
            <span class="cred f16">{{(goodsInfo.price / 100).toFixed(2)}}</span>
            <span>*{{goodsInfo.num}}</span>
        </p>
    </div>
    <div class="po clearfix goodsCtrl">
        <div class="fl subtract tc" ng-click="decreaseNum(goodsInfo)">-</div>
        <div class="fl goodsNum tc">{{goodsInfo.num}}</div>
        <div class="fl add tc"ng-click="increaseNum(goodsInfo)">+</div>
    </div>
</div>
