<div class="L-header w pr blue">
    <p class="tc L-header-title cfff f16">确认订单</p>
    <a href="#/goodsCart" class="L-header-back h po"></a>
</div>
<div class="L-center">
    <a href="#/receiverAddress" class="pr fff confirm-address" ng-controller="receiverLocation">
        <div ng-show="show_address">
            <p class="common-list-line-1 pr50 pl15 pt10">
                <span>{{DEFAULTADDRESS.recieve_name}}</span>
                <span class="pl15">{{DEFAULTADDRESS.phone_num}}</span>
            </p>
            <p class="common-list-line-2 pr50 pl15 pb10">
                <span>地址：{{DEFAULTADDRESS.fullAddress}}</span>
            </p>
        </div>
        <div style="line-height: 65px;" ng-hide="show_address">
            点击请填写收货信息
        </div>
    </a>

    <ul class="common-list-21 mt10">
        <li>
            <span class="ml15 fl">预约配送时间</span>
            <span class="input-box mr15 fr f14">
                <input type="text" class="pl5">
                <span class="ml15 mr15">-</span>
                <input type="text" class="pl5">
            </span>
        </li>
        <li>
            <span class="ml15 fl">选择付款方式</span>
            <span class="mr15 fr">在线支付</span>
        </li>
    </ul>

    <ul class="common-list-20 mt10 mb50">
        <li class="common-singlerow-1 confirmOrder-shop">{{shopName}}</li>
        <li class="w pr mt10" ng-repeat="goodsInfo in order_goodslist">
            <div class="common-list-20-box1">
                <div class="common-picproduct-02 pr tc">
                    <img src="{{goodsInfo.big_image}}" class="h" alt=""/>
                </div>
                <div class="po common-detailbox-02">
                    <p class="f16 comlist-02-floor-01 mt10">{{goodsInfo.title}}</p>
                    <p class="comlist-02-floor-01 mt10">
                        <span class="cred f16">{{(goodsInfo.price / 100).toFixed(2)}}</span>
                        <span>*{{goodsInfo.num}}</span>
                    </p>
                </div>
            </div>
            <p class="useWaterTicketes clearfix f14" ng-show="goodsInfo.waterTicketesNum">
                <span class="fl ml15">水票</span>
                <span class="fr mr15">-{{(goodsInfo.waterTicketesNum*goodsInfo.price / 100).toFixed(2)}}元({{goodsInfo.waterTicketesNum}}张)</span>
            </p>
        </li>
        <li class="common-singlerow-1 mt10">
            <p class="fr mr15">
                <span>共{{orderTotleNum}}件商品，合计</span>
                <span class="cred f16">￥{{(orderTotleMoney / 100).toFixed(2)}}</span>
            </p>
        </li>
    </ul>
</div>
<div class="L-footer-01 cfff w">
    <div class="fl L-footer-01-l w allCheckbox">
        <span class="totleMoney pl15">实付款：¥</span>
        <span>{{(orderTotleMoney / 100).toFixed(2)}}</span>
    </div>
    <a class="fr L-footer-01-r red tc cfff" ng-click="confirmOrder()">确认订单</a>
</div>